importFrom("stats", "predict")
importFrom("mgcv", "gam")
importFrom("minpack.lm", "nlsLM")
importFrom("lubridate", "yday")
importFrom("dplyr", "mutate")
importFrom("dplyr", "%>%")
export(filter_sin_sigmoide2)
export(filter_annual_cycle)
export(get_annual_cycle)
export(fit_all_coef)
export(filter_sin)
export(fit_all_coef_with_sig)
export(filter_sin_sigmoide1)
